* {
	margin: 0;
	padding: 0;
}
html,
body,
.site {
	height: 100%;
}

body {
	font-family: "Fira Sans", sans-serif;
	font-weight: 300;
	font-size: 15px;
	-webkit-text-size-adjust: 100%;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.site {
	/* max-width: 1200px; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.panel-left {
	padding-left: 80px;
	padding-right: 50px;
	overflow: hidden;
}
.panel-right {
	padding: 50px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.select-button {
	padding: 7px 11px;
	display: inline-flex;
	align-items: center;
	border-radius: 3px;
	border: none;
	background-color: #eae9e9;
	margin-top: 20px;
	-webkit-appearance: none;
	cursor: pointer;
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: calc(100% - 11px) center;
	background-image: url(svg/dropdown.svg);
	padding-right: 34px;
}

.strings {
	display: flex;
	align-items: stretch;
	height: 100%;
	transform: rotate(-3deg) scale(1.1);
}
.string {
	padding: 0 13px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
}
.string-button {
	height: 60px;
	width: 60px;
	border-radius: 14px;
	background-color: white;
	font-size: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 3px #a7e08a;
	font-weight: bold;
	position: relative;
	transform: rotate(3deg);
}
.string-line {
	background-color: #8ea08c;
	height: 100%;
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	margin: auto;
}
.string:nth-of-type(1) .string-line {
	width: 7px;
}
.string:nth-of-type(2) .string-line {
	width: 6px;
}
.string:nth-of-type(3) .string-line {
	width: 5px;
}
.string:nth-of-type(4) .string-line {
	width: 4px;
}
.string:nth-of-type(5) .string-line {
	width: 3px;
}
.string:nth-of-type(6) .string-line {
	width: 2px;
}

.string:nth-of-type(1) .string-button {
	top: -40px;
}
.string:nth-of-type(2) .string-button {
	top: -35px;
}
.string:nth-of-type(3) .string-button {
	top: -30px;
}
.string:nth-of-type(4) .string-button {
	top: -25px;
}
.string:nth-of-type(5) .string-button {
	top: -20px;
}
.string:nth-of-type(6) .string-button {
	top: -15px;
}

.string:hover .string-button {
	background-color: #f5f5f5;
}
.string.active .string-button {
	background-color: #87cc65;
	color: white;
	transform: scale(1.1) rotate(3deg);
	font-size: 35px;
}
.string.active .string-line {
	box-shadow: 0 0 10px #ff00004d;
}

.key {
	background-color: #e5e5e5;
	text-transform: uppercase;
	font-size: 80%;
	padding: 6px 10px;
	border-radius: 2px;
	color: #213;

	letter-spacing: 1px;
}
svg.inline-icon {
	vertical-align: middle;
	margin-right: 10px;
	fill: #b7b7b7;
}
